*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Colors*/
:root {
  --clr-blue: #00A6FB;
  --clr-dark-blue: #003554;
  --clr-dark-med-blue: #006494;
  --clr-dark: #051923;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  font-family: "Prompt", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.mt-1 {
  margin-top: 1.5rem;
}

.pt-1 {
  padding-top: 1.5rem;
}

.w-50 {
  width: 50%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: 1fr 1fr;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.title {
  color: var(--clr-dark-blue);
  font-weight: 700;
  font-size: 40px;
}

.clr-white {
  color: #Fff;
}

.sub-title {
  color: var(--clr-dark);
  font-size: 19px;
  font-weight: bold;
}

.p {
  color: var(--clr-dark);
  font-size: 17px;
  margin: 1.5rem 0;
}

.dark-blue {
  color: var(--clr-dark-blue);
}

.t-center {
  text-align: center;
}

.btn {
  background-color: var(--clr-blue);
  color: #Fff;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  border: none;
  border-radius: 5px;
  height: 55px;
  width: 100%;
}
.btn.dark {
  background-color: #e0f2fb;
  color: #000;
}

.align-center {
  align-items: center;
}

.j-content-sb {
  justify-content: space-between;
}

.place-center {
  place-items: center;
}

.j-content-sa {
  justify-content: space-around;
}

header {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 0px;
  padding: 0.3rem 0rem;
}
header img.logo {
  width: 125px;
  height: 100%;
}

.custom-mt {
  margin-top: 7rem !important;
}

section {
  position: relative;
}

section:not(:last-child) {
  margin: 2rem 0px;
}

.ceo-img-bg {
  background: url("/img/ceo.jpeg") no-repeat;
  background-size: cover;
  height: 500px;
  width: 500px;
  border-radius: 227px 338.5px 338.5px 338.5px;
}

.flex.featured-logo {
  --gap: 4rem;
}

.peak-media {
  max-width: 50px;
}

.fm-radio {
  max-width: 50px;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.75rem;
  max-width: 80%;
  background-color: #fff;
}

.square {
  position: relative;
  width: 100%;
  height: 408px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.75rem;
  text-align: center;
}
.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
}
.square span.two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 57% 46% 59% 65%/63% 48% 72% 60%;
}
.square span.three {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
}
.square span.four {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 58% 63% 65% 62%/61% 51% 79% 55%;
}

.container.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-line {
  text-decoration: line-through;
}

.custom-divider-one {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-divider-one svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}
.custom-divider-one .shape-fill {
  fill: var(--clr-blue);
}

.bg-blue {
  background-color: var(--clr-blue);
}

.dark-footer {
  background-color: var(--clr-dark-blue);
}
.dark-footer p {
  color: #fff;
  font-size: 14px;
}

.book-wp {
  height: 280px;
  width: 280px;
}

.modal {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
}
.modal.is-active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal .modal-background {
  background-color: rgba(10, 10, 10, 0.86);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal .modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  position: relative;
  width: 100%;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.modal-header {
  background-color: #fff;
}

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

input {
  background-color: #dedede;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
}

.field {
  width: 100%;
}

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
}

.select:not(.is-multiple) {
  height: 2.5em;
}

.select {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;
}
.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 12px 3px;
  width: 100%;
  outline: 0;
  background-color: #dedede;
  border: none;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}

@media (min-width: 789px) {
  .modal-content {
    margin: 0 auto !important;
    max-height: calc(100vh - 40px) !important;
    width: 455px !important;
  }
}
@media (max-width: 980px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .flex {
    flex-direction: column;
  }
  .title {
    font-size: 19px;
    text-align: center;
  }
  .sub-title {
    font-size: 15px;
  }
  .p {
    font-size: 14px;
  }
  .ceo-img-bg {
    height: 250px;
    width: 250px;
  }
  .container {
    padding: 0rem;
    width: 100%;
  }
  .square {
    padding: 1.75rem;
  }
}
@media (max-width: 780px) {
  .flex {
    flex-direction: column;
  }
  .custom-height {
    height: 100%;
  }
  .p {
    text-align: center;
  }
  .custom-mt {
    margin-top: 8.5rem !important;
  }
}
@media (max-width: 480px) {
  .ceo-img-bg {
    height: 200px;
    width: 200px;
  }
}